<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Login Page</title>

    <script src="/lib/jquery-3.1.1.min.js"></script>
    <script src="/js/search.js"></script>
</head>
<body>
<div id="main">
<form id="searchForm" name="searchForm">
    <label for="startId">startId: </label><input id="startId" name="startId"/><br/>
    <br/>
    <label for="lastId">LastId:</label><input id="lastId" name="lastId"/><br/>
    <button type="submit">search</button>
</form>
</div>
<div id="results">
</div>
</body>
</html>